In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import statsmodels.formula.api as smf
import statsmodels



import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

import numpy as np

import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sn

pd.set_option('display.max_rows', 300) # specifies number of rows to show
pd.options.display.float_format = '{:40,.4f}'.format # specifies default number format to 4 decimal places
plt.style.use('ggplot') # specifies that graphs should use ggplot styling
%matplotlib inline

import statsmodels
print(statsmodels.__version__)

print("pandas version: {}".format(pd.__version__))
print("statsmodels version: {}".format(statsmodels.__version__))

0.13.2
pandas version: 1.4.3
statsmodels version: 0.13.2

In [2]:
crime_bur = pd.read_csv('crime_burglary2011.csv')
edu2011 = pd.read_csv('education2011.csv')
age = pd.read_csv('Age.csv')
house_p = pd.read_csv('Median_houseP.csv')
BAME = pd.read_csv('BAME.csv')
household_indi = pd.read_csv('individual_household.csv')
income = pd.read_csv('median_income.csv')
car = pd.read_csv('car.csv')
household_income = pd.read_csv('household_income.csv')
population = pd.read_csv('population.csv')

In [3]:
Bur_age = crime_bur.merge(age, left_on='Row_Labels', right_on='mnemonic')
crime_BAME = Bur_age.merge(BAME, left_on='Row_Labels', right_on='LSOAs')
crime_indi = crime_BAME.merge(household_indi, left_on='LSOAs', right_on='LSOAs')
crime_income = crime_indi.merge(income, left_on='Row_Labels', right_on='Code')
crime_car = crime_income.merge(car, left_on='Code', right_on='LSOAs')
crime_household = crime_car.merge(household_income, left_on='Row_Labels', right_on='LSOAs')
crime_pop = crime_household.merge(population, left_on='Row_Labels', right_on='LSOA')

In [4]:
crime_pop

,Row_Labels,Burglary,Total_crime,2011 super output area - lower layer,mnemonic,Mean_Age,Median_Age,LSOAs_x,Ethnic_BAME,percent_BAME,...,no_car,availability_of_all_cars,no_car_percent,car_per_household,LSOAs,Mean_year_household_income,Median_year_household_income,LSOA,Population,Census_Population
0,E01000006,18,98,Barking and Dagenham 016A,E01000006,32.4000,31.0000,E01000006,1146,67.3000,...,186,496,34.3000,0.9000,E01000006,46141,39141,E01000006,1731,1703
1,E01000007,13,372,Barking and Dagenham 015A,E01000007,28.4000,28.0000,E01000007,952,68.4000,...,385,274,62.9000,0.4000,E01000007,30822,26229,E01000007,1417,1391
2,E01000008,13,162,Barking and Dagenham 015B,E01000008,26.7000,26.0000,E01000008,1059,68.6000,...,305,270,58.5000,0.5000,E01000008,28359,24204,E01000008,1569,1544
3,E01000009,22,322,Barking and Dagenham 016B,E01000009,34.4000,31.0000,E01000009,1351,76.2000,...,336,385,52.7000,0.6000,E01000009,38261,32464,E01000009,1798,1773
4,E01000010,49,1077,Barking and Dagenham 015C,E01000010,27.7000,28.0000,E01000010,2028,71.4000,...,818,324,74.2000,0.3000,E01000010,37277,31630,E01000010,2889,2840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4824,E01033742,5,57,Greenwich 007F,E01033742,29.6000,30.0000,E01033742,734,54.3000,...,255,391,43.9000,0.7000,E01033742,48387,37255,E01033742,1365,1352
4825,E01033743,6,261,Greenwich 002H,E01033743,26.6000,28.0000,E01033743,1445,70.9000,...,254,522,38.3000,0.8000,E01033743,39272,30237,E01033743,2031,2038
4826,E01033744,12,87,Greenwich 007G,E01033744,33.0000,31.0000,E01033744,964,52.2000,...,301,434,46.6000,0.7000,E01033744,35936,27670,E01033744,1856,1845
4827,E01033745,10,120,Greenwich 002I,E01033745,28.1000,29.0000,E01033745,1072,58.9000,...,178,549,30.1000,0.9000,E01033745,40849,31450,E01033745,1816,1820
4828,E01033746,20,82,Greenwich 038E,E01033746,39.9000,37.0000,E01033746,246,16.8000,...,345,427,48.3000,0.6000,E01033746,64135,49381,E01033746,1470,1464

In [ ]:
crime_pop_selected=crime_pop[['Burglary','Median_Age','Ethnic_BAME','individual_household',
                                 'Median_income','income_in_thou','no_car','availability_of_all_cars','no_car_percent',
                                'car_per_household','Mean_year_household_income','Median_year_household_income','Population']]

In [ ]:
crime_pop_selected